{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-namespace": "off",
    "no-else-return": "error",
    "no-multi-spaces": "error",
    "no-throw-literal": "off",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-whitespace-before-property": "error",
    "camelcase": "error",
    "new-cap": "off",
    "no-console": "error",
    "comma-dangle": "error",
    "no-var": "error",
    "indent": [
      "error",
      4
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
